    li {
        list-style-type: none;
        position: relative;
       
    }
    ul {
        left: 50px;
        text-align: left;
    }
    input { 
        margin: auto 10px;
    }

    .title { 
        text-align: center;
    }

    .content {
        overflow-y: auto;
    border: 3px solid gray;
    height: 600px;
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: content-box;
    }