/* You can add global styles to this file, and also import other style files */
.main { 
    display: grid;
    grid-template: 150px / auto auto auto;
    grid-gap: 10px;

}

app-side-bar , app-map{
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
